div.navBar{
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(218, 215, 215);
    position:fixed;
    top: 0;
    padding: 30px 3vw;
    background-color: rgb(76, 76, 76);
    width: 94vw;
    justify-content: space-between;
    display: flex;
    box-shadow: inset 0px -4px 4px 0 black;
    box-shadow: 0px 4px 4px 0 black;
}
div.footer{
    font-size:40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(218, 215, 215);
    position:fixed;
    bottom: 0;
    padding: 30px 3vw;
    background-color: rgb(76, 76, 76);
    width: 94vw;
    height: 5vh;
    display: block;
    box-shadow: inset 0px -4px 4px 0 black;
    box-shadow: 0px 4px 4px 0 black;
}

div.footer:hover{
    height: 8vh;
    transition-duration: 500ms ;
}
a:hover{
    transition-duration: 250ms;
    font-size: 36px;
    color: rgb(238, 236, 236)
}
a.socials:hover{
    font-size: 48px;
    color: rgb(238, 236, 236);
}

div.content{
    margin: 95px 120px;
    padding: 20px 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    /* display:block; */
    background-color: rgb(84, 164, 195);
    box-shadow: 0vh 1vw 3vh 0vw black;
}
div.contentItem:nth-child(n+3){
    border-top: 2px solid black;
}

div.contentItem{
    margin: 8px 0 0 0;
    /* border-top: 2px solid black; */
    clear:both;
    overflow: hidden;
}


a{
    color:rgb(218, 215, 215);
    padding: 0 .5vw;
    text-decoration: none;
}
a#clickHere{
    font-size:30px;
    font-style:oblique;
    font-weight:normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    margin:0px;
    font-size:30px;
    font-style: normal;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    /* display:inline-block; */
}
h2{
    margin:0px;
    font-size:30px;
    font-style:oblique;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    /* display:inline-block; */
}
h3{
    margin:15px 0;
    font-size:30px;
    font-style:oblique;
    font-weight:normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    /* display:inline-block; */
}
body{
    margin:0px;
}
html{
    background:rgb(200, 215, 253);
    padding:0px;
}
img {
    border-radius: 10px;
    height:200px;
    width:auto;
}
img:hover{
    height:280px;
    transition-duration: 250ms ;
}
img#maker {
    float:left;
    margin:20px 20px 0 0;
    box-shadow: 4px 4px 8px black;
}
img#brass {
    float:right;
    margin:20px 8px 8px 20px; 
    box-shadow: 4px 4px 8px black;
}
img#zoo {
    float:left;
    margin:20px 20px 0 0;
    box-shadow: 4px 4px 8px black;
}
img#cameron {
    height:400px;
    float:right;
    margin:10px 8px 8px 20px; 
    box-shadow: 4px 4px 8px black;
}
.contactForm{
    display:block;
    font-weight: bold;
    margin: 5% 10%;
}
input{
    border:2px solid black;
    margin: 2%;
    width: 96%;
    box-shadow: 2px 2px 4px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}
textarea{
    border:2px solid black;
    margin: 2%;
    width: 96%;
    box-shadow: 2px 2px 4px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}
input[type=submit]{
    width: 25%;
    padding: 5px;
    background-color: rgb(218, 215, 215);
}
input[type=submit]:hover{
    background-color:green;
    color: white;
}
